html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :root {
    --main-color: #4C4C4C;
    --second-color: #505050;
    --link-color: #0077c5;
    --warning-color: #EA7F00;
    --background-color: #EEECF1;
  }

  a {
      color: var(--link-color);
  }
  body {
      color: var(--main-color);
      background: var(--background-color);
  }
  #window {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 60px 75px 42px 671px 117px;
      place-items: center center;
      padding-right: 30px;
      padding-left: 30px;
  }
  header {
      display: grid;
      align-content: center;
      grid-template-columns: 1fr auto;
      grid-gap: 10px;
      justify-self: right;
      font-size: 1.2rem;
  }
.class1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
}
.class2 {
    align-self: center;
}
.class2 button {
    background-color: var(--link-color);
    border-radius: 4px;
    border: 1px solid var(--main-color);
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.35rem;
    width: 101px;
    height: 34px;   
}
.lock-img {

    height: 1em;
    width: 0.8em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAwCAMAAAClrpMkAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAC6UExURUdwTP///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////3HoUvYAAAA9dFJOUwCrcV0ZYP6AMaL2lhCgWMgEKPEtUX9BqCfRDVU2y9X5OsDkAQbuFePEJC7TD7Q4E4QHfDD6DLJCell9Q8cCdpKaAAABLUlEQVQ4y92V13KDMBBFsWmxKe69995Lqv7/t3KFNQnIwsvkyZP7hI6ORmIXDZr2t1x85/p1dfzLQ2vnZNktWWcXr7Um7DeTVpyWtlg4VlqtmcHkRl8aS30TLDFVWokfrbsVo22XH7Kk8AaYmLs/Q3eO8eBeqwLPpiEwnYFU77wUaDlCyiApWcsXGVuNImi0YqyYl7w+FtsSs8H6EnsHe5XYJ5gv1xisILECmFzrCpghMQOsojiLyrP/nXfYZ5AGb2YmGt7yBn/YH+DpjI4udqRiP5HXy3m5Hu116mD1DuUN10FR10PCM8OX/oG3EN6C8JrCaxJeW3htwvOE5xGedXsR0yLrXAOrJekbWKL+jrVxIu/N/Xjm7y/OOybwjvBOZ1I7n4Jr/0LFSP4f/QY7TeMSyZCaMgAAAABJRU5ErkJggg==);
    background-size: contain;
    background-repeat: no-repeat;
}